html, body, #root, main {
  display: flex;
  flex-direction: column;
}



















.flex {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.flex-0 {
  flex: 0;
}

.flex-1 {
  flex: 1;
}

.table th {
  padding: 0.5rem;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
}

.btn-like {
  color: white;
  padding: 0.5rem 0;
  cursor: pointer;
  display: inline-block;
}

.btn-like:active > .btn-like-to-be-styled {
  text-decoration: underline;
}

@keyframes skeletonAnimation {
  0%   { opacity: 0.250; }
  50%  { opacity: 0.125; }
  100% { opacity: 0.250; }
}

.skeleton-line {
  border: var(--bs-body-color) 0.5rem solid;
  margin: 0 1rem;
  border-radius: 1rem;
  animation: skeletonAnimation 2s infinite;
}

.form-mb {
  margin-bottom: 0.5rem;
}

/* html {
  position: relative;
  min-height: 100%;
  height: -webkit-fill-available;
}

body {
  min-height: 0;
}

#root {
  min-height: 0;
}

main {
  min-height: 0;
} */

@keyframes fade-in-overlay {
  0%   { background: rgba(0, 0, 0, 0.000); }
  100% { background: rgba(0, 0, 0, 0.500); }
}

@keyframes fade-out-overlay {
  0%   { background: rgba(0, 0, 0, 0.500); }
  100% { background: rgba(0, 0, 0, 0.000); }
}

@keyframes fade-in-modal {
  0%   { transform: translateY(100vh); }
  100% { transform: translateY(000vh); }
}

@keyframes fade-out-modal {
  0%   { transform: translateY(000vh); }
  100% { transform: translateY(100vh); }
}
 
.container-sm {
  max-width: 24rem;
}

.container-md {
  max-width: 36rem;
}

.container-lg {
  max-width: 44rem;
}

.container-xl {
  max-width: 56rem;
}

@media (max-width: 575px) {
  html {
    font-size: 14px!important;
  }
}


@media (min-width: 576px) {
  html {
    font-size: 16px!important;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 18px!important;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 20px!important;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 22px!important;
  }
}

@media (min-width: 1400px) {
  html {
    font-size: 24px!important;
  }
}